.container 
  %h1 Editing category
  .spacer50

  = render 'form'

  .spacer50

  = link_to 'Show', category, class: 'btn btn-primary'
  \|
  = link_to 'Back', categories_path, class: 'btn btn-primary'
