.panel-default{ class: "#{review.color}"}
  .row
    %div{class: "col-md-8"}
      .panel.panel-default
        .panel-body
          = review.content
        .panel-footer
          %b.pull-left
            Rate: #{review.rating}
          .pull-right
            Created at:  #{review.created_at}


          .spacer10

